.app-container {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FFFFFF !important;
}

label {
  display: inline-block;
}

.form {
  width: auto;
  border: 2px;
  padding: 25px;
  margin: 25px;
}

.box {
  width: auto;
  border: 2px solid black;
  padding: 25px;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
