.app-container {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 15px 15px;
  background: #FFFFFF
}

label {
  display: inline-block;
}

.form {
  width: auto;
  border: 2px;
  padding: 25px;
  margin: 25px;
}

.box {
  width: auto;
  border: 2px solid black;
  padding: 25px;
  
}

.footer {
  text-align:right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none; 
  margin: 0; 
}
