.App {

}

label {
  display: inline-block;
}

.form {
  width: auto;
  border: 2px;
  padding: 25px;
  margin: 25px;
}

.box {
  width: auto;
  border: 2px solid black;
  padding: 25px;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pin-result {
  width: auto;
  border: 1px solid #ccc;
  height: 50px;
  display:block;
}

.input-xlarge {
  width: 100%;
  font-size: 150% !important;
  padding-left: 15px;
}
